{% extends "layOut.njk" %}



{% block content %}
<div id="container">
    <img src="{{data.link}}"
        alt="Juao Victor">
    <h1>{{data.name}}</h1>
    <h2>{{data.title}}</h2>
    <p>{{data.descript}}</p>
</div>

{% endblock %}