<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=

    , initial-scale=1.0">
        <title>João Victo Site</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <header class="links">
            <div>
                <a href="/">Sobre</a>
                <a href="/Class">Aulas</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer class="links">
            <div id="links-footer">
                <a href="/" target="_blank">Facebook</a>
                <a href="/" target="_blank">Linkedin</a>
                <a href="/" target="_blank">Twitter</a>
            </div>

        </footer>
    </div>

</body>

</html>